# Set halaman error kustom
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

# Mencegah akses langsung ke file index.html dan 404.html
<Files ~ "^(index\.html|404\.html)$">
  Order allow,deny
  Allow from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Izinkan style.css dan script.js jika referer dari domain sendiri (dengan/ tanpa www)
  RewriteCond %{HTTP_REFERER} ^https?://(www\.)?komunitasffdeliserdang\.com [NC]
  RewriteRule ^(style\.css|script\.js)$ - [L]

  # Blokir akses style.css dan script.js untuk selain referer sendiri
  RewriteCond %{HTTP_REFERER} !^https?://(www\.)?komunitasffdeliserdang\.com [NC]
  RewriteRule ^(style\.css|script\.js)$ - [F,L]
</IfModule>
